.xwpd_top_box .logo{
    margin: 0px;
}
#xwpd02{
    background: red;
}
#xwpd02 .w1200 ul li{
    background: red;
}
.Big_tab_pic .bd ul li p{
    background: red;
}
.xwpd_table_box .hd ul li.on{
    border: 1px solid  red;
    background-color: red;
}
.xwpd_table_box .hd{
    border-top: 1px solid red;
}
.jcwzx_right_box .nav_box01 strong a{
    color: red;
}
.lmy_bottom_div{
    background: red;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 10px 20px 10px 20px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.jcwzx_right_box .tyhg_ul li a:hover{
    color: #666;
}
.xwpd_table_box .news_box .box .title a:hover{
    color: #666;
}

.jcwlist_rihgt_pic p{
    background: red;
}
.article_left_box02 .jcwsy_content_left_nav .nav_title{
    background-color: red;
}

